In [1]:
import pandas as pd
import numpy as np
import statistics
import clean_data

In [8]:
def get_height_inches(player_row):
    h = player_row["height"]
    ih = 0
    if len(h) >= 3:
        ih = int(h[0]) * 12 + int(h[2:])
        h = ih
    h = int(h)
    return h

In [9]:
def clean_players_height(players):
    players["height"] = players.apply(get_height_inches, axis=1)
    return players

In [2]:
games = pd.read_csv('data/games.csv')
PFF = pd.read_csv('data/PFFScoutingData.csv')
players = pd.read_csv('data/players.csv')
plays = pd.read_csv('data/plays.csv')
tracking2018 = pd.read_csv('data/tracking2018.csv')
tracking2019 = pd.read_csv('data/tracking2019.csv')
tracking2020 = pd.read_csv('data/tracking2020.csv')

In [10]:
clean_players_height(players)

,nflId,height,weight,birthDate,collegeName,Position,displayName
0,42901,73,208,1992-07-25,James Madison,SS,Dean Marlowe
1,43501,72,220,1994-08-11,Central Michigan,FS,Kavon Frazier
2,43534,72,205,1993-06-02,Illinois,SS,Clayton Fejedelem
3,43535,73,235,1992-12-22,Temple,MLB,Tyler Matakevich
4,44174,73,236,1993-02-22,Texas Tech,ILB,Sam Eguavoen
...,...,...,...,...,...,...,...
2727,33216,75,320,06/16/1986,Central Florida,G,Josh Sitton
2728,33184,75,265,05/02/1985,Winston-Salem State,DE,William Hayes
2729,45651,69,198,06/16/1993,Iowa,WR,Riley McCarron
2730,41284,73,230,1992-10-20,LSU,RB,Jeremy Hill
2731,42849,70,205,12/14/1992,Texas Tech,WR,Bradley Marquez

In [22]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2732 entries, 0 to 2731
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nflId        2732 non-null   int64
 1   height       2732 non-null   int64
 2   weight       2732 non-null   int64
 3   birthDate    2715 non-null   object
 4   collegeName  2724 non-null   object
 5   Position     2732 non-null   object
 6   displayName  2732 non-null   object
dtypes: int64(3), object(4)
memory usage: 149.5+ KB

In [28]:
players['age'] = 2021 - int(players['birthDate'][:4])

TypeError: cannot convert the series to <class 'int'>

In [29]:
players['birthDate'].isna().sum()

17

'1992'