In [1]:
import pandas as pd
import numpy as np
import statistics
import clean_data

In [2]:
def get_height_inches(player_row):
    h = player_row["height"]
    ih = 0
    if len(h) >= 3:
        ih = int(h[0]) * 12 + int(h[2:])
        h = ih
    h = int(h)
    return h

In [3]:
def clean_players_height(players):
    players["height"] = players.apply(get_height_inches, axis=1)
    return players

In [4]:
games = pd.read_csv('data/games.csv')
PFF = pd.read_csv('data/PFFScoutingData.csv')
players = pd.read_csv('data/players.csv')
plays = pd.read_csv('data/plays.csv')
tracking2018 = pd.read_csv('data/tracking2018.csv')
tracking2019 = pd.read_csv('data/tracking2019.csv')
tracking2020 = pd.read_csv('data/tracking2020.csv')

In [5]:
clean_players_height(players)

,nflId,height,weight,birthDate,collegeName,Position,displayName
0,42901,73,208,1992-07-25,James Madison,SS,Dean Marlowe
1,43501,72,220,1994-08-11,Central Michigan,FS,Kavon Frazier
2,43534,72,205,1993-06-02,Illinois,SS,Clayton Fejedelem
3,43535,73,235,1992-12-22,Temple,MLB,Tyler Matakevich
4,44174,73,236,1993-02-22,Texas Tech,ILB,Sam Eguavoen
...,...,...,...,...,...,...,...
2727,33216,75,320,06/16/1986,Central Florida,G,Josh Sitton
2728,33184,75,265,05/02/1985,Winston-Salem State,DE,William Hayes
2729,45651,69,198,06/16/1993,Iowa,WR,Riley McCarron
2730,41284,73,230,1992-10-20,LSU,RB,Jeremy Hill
2731,42849,70,205,12/14/1992,Texas Tech,WR,Bradley Marquez

In [6]:
players['collegeName'].nunique()

322

In [7]:
pp = players.groupby(['Position']).mean()

In [8]:
#pp.sort_values(['height', 'weight' ], ascending=False)

In [9]:
ppsize = players.groupby(['Position']).size()

In [10]:
#ppsize.sort_values()

In [13]:
plays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19979 entries, 0 to 19978
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gameId                  19979 non-null  int64
 1   playId                  19979 non-null  int64
 2   playDescription         19979 non-null  object
 3   quarter                 19979 non-null  int64
 4   down                    19979 non-null  int64
 5   yardsToGo               19979 non-null  int64
 6   possessionTeam          19979 non-null  object
 7   specialTeamsPlayType    19979 non-null  object
 8   specialTeamsResult      19979 non-null  object
 9   kickerId                19878 non-null  float64
 10  returnerId              6938 non-null   object
 11  kickBlockerId           100 non-null    float64
 12  yardlineSide            19813 non-null  object
 13  yardlineNumber          19979 non-null  int64
 14  gameClock               19979 non-null  object
 15  penaltyCodes            1102 non-null   object
 16  penaltyJerseyNumbers    1102 non-null   object
 17  penaltyYards            1102 non-null   float64
 18  preSnapHomeScore        19979 non-null  int64
 19  preSnapVisitorScore     19979 non-null  int64
 20  passResult              45 non-null     object
 21  kickLength              16327 non-null  float64
 22  kickReturnYardage       5324 non-null   float64
 23  playResult              19979 non-null  int64
 24  absoluteYardlineNumber  19979 non-null  int64
dtypes: float64(5), int64(10), object(10)
memory usage: 3.8+ MB

In [15]:
plays.head()

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,specialTeamsPlayType,specialTeamsResult,kickerId,...,penaltyCodes,penaltyJerseyNumbers,penaltyYards,preSnapHomeScore,preSnapVisitorScore,passResult,kickLength,kickReturnYardage,playResult,absoluteYardlineNumber
0,2018090600,37,J.Elliott kicks 65 yards from PHI 35 to end zo...,1,0,0,PHI,Kickoff,Touchback,44966.0,...,NaN,NaN,NaN,0,0,NaN,66.0,NaN,40,45
1,2018090600,366,"(9:20) C.Johnston punts 56 yards to ATL 36, Ce...",1,4,4,PHI,Punt,Return,45603.0,...,UNSd,PHI 18,-15.0,0,0,NaN,56.0,5.0,36,18
2,2018090600,658,"(5:03) M.Bryant 21 yard field goal is GOOD, Ce...",1,4,3,ATL,Field Goal,Kick Attempt Good,27091.0,...,NaN,NaN,NaN,0,0,NaN,21.0,NaN,0,13
3,2018090600,677,M.Bosher kicks 64 yards from ATL 35 to PHI 1. ...,1,0,0,ATL,Kickoff,Return,37267.0,...,NaN,NaN,NaN,0,3,NaN,64.0,30.0,34,75
4,2018090600,872,"(:33) C.Johnston punts 65 yards to end zone, C...",1,4,18,PHI,Punt,Touchback,45603.0,...,NaN,NaN,NaN,0,3,NaN,65.0,NaN,45,45