In [1]:
import pandas as pd
import numpy as np
import statistics
import clean_data

In [2]:
def get_height_inches(player_row):
    h = player_row["height"]
    ih = 0
    if len(h) >= 3:
        ih = int(h[0]) * 12 + int(h[2:])
        h = ih
    h = int(h)
    return h

In [3]:
def clean_players_height(players):
    players["height"] = players.apply(get_height_inches, axis=1)
    return players

In [4]:
games = pd.read_csv('data/games.csv')
PFF = pd.read_csv('data/PFFScoutingData.csv')
players = pd.read_csv('data/players.csv')
plays = pd.read_csv('data/plays.csv')
tracking2018 = pd.read_csv('data/tracking2018.csv')
tracking2019 = pd.read_csv('data/tracking2019.csv')
tracking2020 = pd.read_csv('data/tracking2020.csv')

In [5]:
clean_players_height(players)

,nflId,height,weight,birthDate,collegeName,Position,displayName
0,42901,73,208,1992-07-25,James Madison,SS,Dean Marlowe
1,43501,72,220,1994-08-11,Central Michigan,FS,Kavon Frazier
2,43534,72,205,1993-06-02,Illinois,SS,Clayton Fejedelem
3,43535,73,235,1992-12-22,Temple,MLB,Tyler Matakevich
4,44174,73,236,1993-02-22,Texas Tech,ILB,Sam Eguavoen
...,...,...,...,...,...,...,...
2727,33216,75,320,06/16/1986,Central Florida,G,Josh Sitton
2728,33184,75,265,05/02/1985,Winston-Salem State,DE,William Hayes
2729,45651,69,198,06/16/1993,Iowa,WR,Riley McCarron
2730,41284,73,230,1992-10-20,LSU,RB,Jeremy Hill
2731,42849,70,205,12/14/1992,Texas Tech,WR,Bradley Marquez

In [6]:
players['collegeName'].nunique()

322

In [7]:
pp = players.groupby(['Position']).mean()

In [8]:
#pp.sort_values(['height', 'weight' ], ascending=False)

In [9]:
ppsize = players.groupby(['Position']).size()

In [10]:
#ppsize.sort_values()

In [12]:
PFF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19979 entries, 0 to 19978
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameId                   19979 non-null  int64
 1   playId                   19979 non-null  int64
 2   snapDetail               5919 non-null   object
 3   snapTime                 5918 non-null   float64
 4   operationTime            5918 non-null   float64
 5   hangTime                 13098 non-null  float64
 6   kickType                 13723 non-null  object
 7   kickDirectionIntended    13701 non-null  object
 8   kickDirectionActual      13701 non-null  object
 9   returnDirectionIntended  4754 non-null   object
 10  returnDirectionActual    4756 non-null   object
 11  missedTackler            1348 non-null   object
 12  assistTackler            1034 non-null   object
 13  tackler                  4759 non-null   object
 14  kickoffReturnFormation   7843 non-null   object
 15  gunners                  5901 non-null   object
 16  puntRushers              3010 non-null   object
 17  specialTeamsSafeties     15937 non-null  object
 18  vises                    5878 non-null   object
 19  kickContactType          5879 non-null   object
dtypes: float64(3), int64(2), object(15)
memory usage: 3.0+ MB